@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --color-primary: #006a50;
  --color-secondary: #c6e4d6;
  --color-headings: #0e0e0e;
  --color-body: rgba(14, 14, 14, 0.7);
}

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-body);
  background: #f5f5f5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

/* Containers */

.container {
  width: min(1280px, 90%);
  /* border: 3px solid gold; */
  margin: 2rem auto 0;
}

main > section {
  margin-block: 8rem;
}

/* Buttons */

.btn {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background: tomato;
  color: #fff;
  border: 0;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 1.5rem 3rem;
  white-space: nowrap;
  border-radius: 8px;
}

.btn--primary {
  background-color: var(--color-primary);
  transition: background-color 0.15s;
}

.btn--primary:hover {
  background-color: #005742;
}

.btn--small {
  font-size: 1.6rem;
  padding: 1.1rem 2rem;
}

.btn--outline {
  background: #f5f5f5;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition: background 0.15s, color 0.15s;
}

.btn--outline:hover {
  background: var(--color-primary);
  color: #f5f5f5;
}

/* Cards */

.card {
  padding: 2.4rem;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.card__title {
  margin-top: 2.4rem;
}

.card__body {
  padding-top: 2.4rem;
}

/* Image Settings */

img {
  display: block;
  max-width: 100%;
}

/* Header Section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2.4rem;
  margin-top: 0;
}

.site-logo {
  text-decoration: none;
  font-size: 3.2rem;
  font-weight: 700;
  color: #0e0e0e;
}

/* Hero Section */

.hero {
  display: flex;
  align-items: center;
  margin-top: 0;
  padding: 8rem;
  background: var(--color-secondary);
  border-radius: 24px;
  column-gap: 6.4rem;
}

.hero__content {
  max-width: 600px;
}

.hero__content h1 {
  margin-block: 1rem 2.4rem;
}

/* Pillars Section */

.pillars__content {
  display: flex;
  column-gap: 2.4rem;
  margin-top: 3.2rem;
}

.pillars .card {
  transition: box-shadow 0.15s;
}

.pillars .card:hover {
  box-shadow: 0 0 20px 2px #ddd;
}

/* Vision Section */

.vision__heading {
  margin-bottom: 2.4rem;
}

.vision__description {
  width: 85%;
}

.vision__articles {
  margin-block: 3.2rem;
  display: flex;
  column-gap: 2.4rem;
}

.vision__articles .btn {
  margin-top: 2.4rem;
}

.vision__articles .btn:hover {
  opacity: 0.8;
}

.vision__article-1 {
  background: rgba(84, 144, 245, 0.2);
  transition: border 0.15s;
}

.vision__article-1 .btn {
  background: rgba(84, 144, 245, 1);
}

.vision__article-2 {
  background: rgba(198, 228, 214, 1);
}

.vision__article-2 .btn {
  background: rgba(9, 161, 92, 1);
}

.vision__article-3 {
  background: rgba(247, 235, 207, 1);
}

.vision__article-3 .btn {
  background: rgba(255, 194, 57, 1);
}

.vision__article-1,
.vision__article-2,
.vision__article-3 {
  transition: border 0.15s;
}

.vision__article-1:hover {
  border: 1px solid rgba(84, 144, 245, 1);
}

.vision__article-2:hover {
  border: 1px solid rgba(9, 161, 92, 1);
}

.vision__article-3:hover {
  border: 1px solid rgba(255, 194, 57, 1);
}

/* Vision Quote Sub-Section*/

.quote {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 4.8rem 2.4rem;
  background-color: #fff;
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position-x: 2.4rem;
  background-position-y: 2.3rem;
}

.quote__author {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 1rem;
}

.quote__author-designation {
  opacity: 0.8;
}

/* Opinion Section */

.survey {
  background-color: #fff;
  margin-top: 2.4rem;
  padding: 3.2rem;
  border-radius: 16px;
  font-weight: 600;
  color: #0e0e0e;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: 1fr max-content;
  align-items: stretch;
}

.survey > form,
.survey > header {
  padding: 2.4rem;
}

.survey > * {
  border-top: 1px solid rgba(14, 14, 14, 0.15);
  border-right: 1px solid rgba(14, 14, 14, 0.15);
}

.survey header:first-of-type,
.survey div {
  border-left: 1px solid rgba(14, 14, 14, 0.15);
}

.survey div:last-of-type,
.survey form:last-of-type {
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
}

.survey header:last-of-type {
  padding-left: 0;
}
.survey header:first-of-type {
  border-right: 0;
}

.survey header {
  background-color: var(--color-secondary);
  font-size: 2rem;
}

.survey select {
  font-family: inherit;
  font-weight: 500;
  padding: 1rem 1.4rem;
  border-radius: 4px;
  border: 1px solid #0e0e0e;
  outline: none;
  background-color: var(--color-secondary);
}

.survey div {
  display: flex;
  align-items: center;
}

.survey p {
  margin-right: auto;
  margin-left: 2.4rem;
}

/* Recent News Section */

.recent-news__caption {
  margin-block: 2.4rem 3.2rem;
}

/* News-article Sub-section */

.recent-news__caption {
  width: 95%;
}

.news-article {
  margin-block: 2.4rem;
  display: flex;
  column-gap: 3.2rem;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  padding: 4.8rem;
  transition: box-shadow 0.2s;
}

.news-article:hover {
  box-shadow: 0 0 20px 2px #ddd;
}

.news-article:nth-of-type(even) {
  flex-direction: row-reverse;
}

.news__thumbnail {
  border-radius: 24px;
  overflow: hidden;
}

.news__thumbnail img {
  height: 350px;
  object-fit: cover;
}

.news__body {
  max-width: 70rem;
}

.news__heading {
  font-size: 3.2rem;
}

.news__publisher,
.news__content {
  margin-block: 1.2rem;
}

.news__body .btn {
  margin-top: 2rem;
}

/* Donation Section */

.donation {
  text-align: center;
}

.donation__description {
  margin-top: 2.4rem;
  width: 80%;
  margin-inline: auto;
}

.donation__amounts {
  display: flex;
  column-gap: 2.4rem;
  justify-content: center;
  margin-block: 3.2rem;
}

.donation__specified-amount {
  font-weight: 700;
  font-size: 4rem;
  padding: 4rem;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.15s;
}

.donation__specified-amount:nth-of-type(2) {
  background-color: var(--color-secondary);
}

.donation__specified-amount:hover {
  background-color: var(--color-secondary);
}

.donation__any-amount {
  display: block;
  margin: 3.2rem auto;
  padding: 2rem 4rem;
  border: none;
  width: 75%;
  font-family: inherit;
  font-size: 2rem;
  text-align: inherit;
  outline: none;
}

/* Newsletter Section */

.newsletter {
  background-color: var(--color-secondary);
  border-radius: 24px;
  padding: 8rem 10rem;
  text-align: center;
}

.newsletter__description {
  margin: 1.6rem auto 0;
  max-width: 60%;
}

.newsletter__subscribe {
  display: flex;
  justify-content: center;
  margin-block: 2.4rem;
  margin-inline: auto;
  max-width: 70%;
  transition: outline 0.15s;
}

.newsletter__email {
  padding: 1.8rem 4rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 8px 0px 0px 8px;
}

.newsletter__subscribe .btn {
  padding: 1.7rem 3.4rem;
  border-radius: 0px 8px 8px 0px;
}

/* Footer */

footer {
  background-color: #fff;
  padding: 5rem 16rem;
}

footer .site-logo {
  text-align: center;
  display: block;
}

footer hr {
  margin-block: 3.2rem;
  background: rgba(14, 14, 14, 0.1);
}

.footer__social-media-links {
  display: flex;
  justify-content: center;
  column-gap: 2.3rem;
}
