@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --color-primary: #006a50;
  --color-secondary: #c6e4d6;
  --color-headings: #0e0e0e;
  --color-body: rgba(14, 14, 14, 0.7);
}

/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-body);
  background: #f5f5f5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

/* Containers */

.container {
  width: min(1280px, 90%);
  /* border: 3px solid gold; */
  margin: 2rem auto 0;
}

/* Buttons */

.btn {
  text-decoration: none;
  cursor: pointer;
  background: tomato;
  border: 0;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 1.5rem 3rem;
  white-space: nowrap;
  border-radius: 8px;
}

.btn--outline {
  background: #f5f5f5;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition: background 0.15s, color 0.15s;
}

.btn--outline:hover {
  background: var(--color-primary);
  color: #f5f5f5;
}

/* Header Section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2.4rem;
  margin-top: 0;
}

.site-title {
  text-decoration: none;
  font-size: 3.2rem;
  font-weight: 700;
  color: #0e0e0e;
}
